@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="ratomir-vukadin-rvs"><a class="LI-simple-link" href='https://ba.linkedin.com/in/ratomir-vukadin-rvs?trk=profile-badge'>Ratomir Vukadin</a></div>


<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
